{% extends 'recipes/base.html' %}
<!---->

{% block content %}
<h2>Structure:</h2>
<h4> Introduction:
    Briefly introduce your recipes app.
    Mention its purpose and what sets it apart from other recipe apps.</h4>
    
<h4> Features:
    List key features of your app.
    Highlight any unique functionalities or aspects that users might find interesting.</h4>
    
<h4> Developer Information:
    Introduce the developers or development team behind the app.
    Provide some background information about the team members.
    Optionally, include contact information or links to social media profiles.</h4>
    
<h4>   App Development:
    Share insights into the development process.
    Mention any technologies or frameworks used in building the app.
    Discuss any challenges faced during development and how they were overcome. </h4>
{% endblock content %}
